<!DOCTYPE html>
<html>
<head>
    <title>Creative Colorlib SignUp Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="~/css/AuthStyle.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

    <style>
        /* FIX THE CHECKBOX POSITION */
        .anim {
            position: relative;
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 10px 0; /* space around checkbox */
        }

            .anim input[type="checkbox"] {
                position: relative !important; /* override Colorlib style */
                left: auto !important;
                margin: 0;
                width: 16px;
                height: 16px;
            }
    </style>

</head>

<body>
    <div class="main-w3layouts wrapper">
        <h1>Creative @ViewData["Title"] Form</h1>

        @RenderBody()

        <div class="colorlibcopy-agile">
            <p>
                © 2018 Colorlib Signup Form. All rights reserved | Design by
                <a href="https://colorlib.com/" target="_blank">Colorlib</a>
            </p>
        </div>

        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("_ValidationScriptsPartial", required: false)

</body>
</html>
