@model ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_AuthLayOut.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">

        <form asp-action="ResetPassword" method="post">

            @* Hidden fields *@
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />

            <input class="text" asp-for="NewPassword" placeholder="New Password" type="password" required="">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <br />

            <input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" type="password" required="">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <br />

            <input type="submit" value="Reset Password" />

        </form>

        <p>
            Remembered your password?
            <a asp-action="Login">Back to Login</a>
        </p>

    </div>
</div>

@section _ValidationScriptsPartial {
    <partial name="_ValidationScriptsPartial" />
}
